<h1>
    <a href='{{pathTo "index"}}' id="logo">
        <span class="pin-shadow"></span>
        <span class="pin"></span>
    </a>

  {{#if place}}
    <a href='{{pathTo "places" place}}'>
        Photos Near <span id="location">{{place.text}}</span>
    </a>
  {{else}}
    Photos Near <span id="location">Me</span>
  {{/if}}
</h1>
