<h1>
    <a href="/" id="logo">
        <span class="pin-shadow"></span>
        <span class="pin"></span>
    </a>
    {{#if place}}
    <a href="/place/{{place.id}}/">
        Photos Near <span id="location">{{place.text}}</span>
    </a>
    {{else}}
    Photos Near <span id="location">Me</span>
    {{/if}}
</h1>
