<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />

    <title>{{> title}}</title>
    <meta name="description" content="Look at interesting photos of things taken near your current location" />
    <meta name="author" content="Eric Ferraiuolo" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="format-detection" content="telephone=no" />

    <link rel="stylesheet" href="/style.css" />

  {{#typekit}}
    <script src="http://use.typekit.com/{{id}}.js"></script>
    <script>try{ Typekit.load(); } catch (e) {}</script>
  {{/typekit}}
</head>
<body>
    <div id="wrap" class="{{#if located}}located{{else}}loading{{/if}}">
        <div id="header">
            {{> header}}
        </div>

        <div id="main" class="layout">
            {{{outlet}}}
        </div>
    </div>

    <script>
    {{{state}}}
    app.yui.use('pnm-app', 'ios-oc-fix', function (Y) {

        var routeConfigs = PNM.ROUTES,
            app;

        app = new Y.PNM.App({
            container    : '#wrap',
            viewContainer: '#main',

            transitions  : true,
            serverRouting: true
        });

        // Setup routes.
        Y.Array.each(app.namedRoutes, function (route, i) {
            var routeConfig = routeConfigs.routes[route.name];
            if (routeConfig) {
                app.route(routeConfig.path, route.callbacks);
                app.get('routes')[i].name = route.name;
            }
        });

        // Determine if the user needs to be located. When the app is saved to
        // the home screen in iOS, always route to "/"" so geolocation lookup
        // is preformed.
        if (Y.config.win.navigator.standalone) {
            app.locate();
        } else {
            app.render({rendered: true}).dispatch();
        }

    });
    </script>
</body>
</html>
